@font-face {
  src: url("../fonts/VWHeadWeb-Bold.ttf");
  font-family: VWHeadWeb-Bold;
}
@font-face {
  src: url("../fonts/Roboto-Regular.ttf");
  font-family: Roboto-Regular;
}
@font-face {
  src: url("../fonts/VWTextBold.otf");
  font-family: VWTextBold;
}
@font-face {
  src: url("../fonts/VWTextRegular.otf");
  font-family: VWTextRegular;
}
@font-face {
  src: url("../fonts/VWHeadRegular.otf");
  font-family: VWHeadRegular;
}
@font-face {
  src: url("../fonts/HelveticaNeueCyr-Black.ttf");
  font-family: HelveticaNeue;
}